.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    margin-left: 35%;

}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
    margin-left:5%;
}
.blogContent{

}

#blogTitleNew{
    text-align: center;
}

#EditSaveBtn{
    float:right;
    background-color: red;
    color: black;
    text-align:center;
    width: 5em;  height: 2.5em;
    margin-right: 5%;

}

#LikeBtn{
    float:left;
    background-color: red;
    color: black;
    text-align:center;
    width: 5em;  height: 2.5em;
    margin-left: 5%;

}

#LikeCount{
    margin-left: 5%;
}

#commentBtn{
    float:left;
    background-color: red;
    color: black;
    text-align:center;
    width: 5em;  height: 2.5em;
    margin-left: 5%;



}
#comments{
    margin-left: 5%;
}

#allComments{
    float:left;
    margin-left: 5%;

    background-color: white;
    color : black;
}
.commentDesc{
    text-align: left;
    background-color: white;
    color: black;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    marging-left:15%;
}

.commnetsSection{
    position: relative;
    width: 60%;
    height: 40%;
    background: lightgrey;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    float:left;
    margin-left: 5%;

}

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */
